
*{
    margin: 0;
    padding: 0;
    
}
/* body #root .App .main{
    height: 100vh;
} */

#root{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    
}
/* searchbar */
.navbar .navbar-brand{
    font-family: 'Righteous', cursive;
}
.form-control{
    margin-right:10rem;
}
.MuiBox-root {
position: absolute;
z-index: 999;
}

.main{
    width: 100%;
    height: 1200px;
    
}   
.main .background{
   position:relative;
    height: 400px
}
.main .background .background--container{
    /* background: linear-gradient(to bottom,  transparent,70%, white),url(https://cdn.pixabay.com/photo/2020/07/04/19/04/canada-day-5370627_960_720.jpg); */
    background: url(https://cdn.pixabay.com/photo/2020/07/04/19/04/canada-day-5370627_960_720.jpg);
    background-repeat: no-repeat;
    background-size:100% 400px;
    width: 100%;
    height:400px;
    opacity: 0.7;
    z-index: -1;
    position:absolute;
}
.background .background--container::before{
    content: '';
    position: absolute;
    height: 100%;
    transform: translate(0, 360px);
    position:absolute;
    display: block;
    bottom: 0;
    left:0;
    width: 100%;
    background: url(./data/wave.png);
    background-size: 100% 50px;
    animation: animate1 30s linear infinite;
    opacity: 0.7;
    
    animation-delay: 0s;
}
@keyframes animate1 {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}
.background .background--container::after{
    content: '';
    position: absolute;
    height: 100%;
    transform: translate(0, 360px);
    position:absolute;
    display: block;
    bottom: 0;
    left:0;
    width: 100%;
    background: url(./data/wave.png);
    background-size: 100% 50px;
    animation: animate2 20s linear infinite;
    opacity: 0.5;
   /* z-index: 500; */
}
@keyframes animate2 {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1000px; 
    }
}

.main .background p{
    position:absolute;
    top:60px;
    left:150px;
    color: black;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 300px;
}
.main .background p>.first{
    font-size: 40pt;
}
.main .background p>.second{
    font-size: 50pt;
    font-family: 'Pacifico', cursive;
}
.main .background p>.third{
    margin-top: 20px;
    font-size: 20pt;
    margin-left: auto;
}
.categories{
    margin: 5rem 5rem;
    display: flex;
    flex-direction: column;
    height: 160px;
    z-index: 999;
}
.categories .categoryContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
    margin: 2rem auto;
}
.categories button{
    width: 6rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color:rgb(34, 56, 72);
    
}
.categories .categoryContainer i{
    width: 100%;
    height: 100%;
    font-size: 3rem;
}
.categories .categoryContainer span{
    display: block;
    width: 6rem;
}

/*footer*/
.footer{
    /* position: relative; */
    width: 100%;
    height: 240px;
    position: relative;
    margin-top:auto;
   
}

.footer--container{
    width:100%;
    height: 50%;
    position: absolute;
    display: flex;
    flex-direction: row;
    top:7rem;
    color:rgb(255, 214, 214);
    justify-content: center;
    gap: 6rem;
}
.footer--container .Services{
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    gap:5px;
    height: 40px;
}
.footer--container .Services a{
    text-decoration-line: none;
    color: rgb(255, 214, 214);
}
.footer--container .Services .Home{
    margin-top:20px;
    
}
.footer--container .teamInfo{
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    gap:5px;
}
.footer--container .teamInfo i{
    margin-right:15px;
    
}

.footer--container .teamInfo a{
    text-decoration-line: none;
    color: rgb(255, 214, 214);
    font-size: 13px;
    /* top:-2px; */

}
.footer--container .project{
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    gap:5px;
}

.footer--container .project img{
    width: 70px;
    margin-bottom: 10px;
}
/* footer backgroud */
.custom-shape-divider-bottom-1650331665 {
    
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
 
}

.custom-shape-divider-bottom-1650331665 svg {
    
    display: block;
    width: calc(300% + 1.3px);
    height: 240px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1650331665 .shape-fill {
    fill: #DC3545D9;
}
/*ad note*/

.businessAdNote{
    width: 90%;
    height: 90vh;
    min-height: 500px;
    margin: 10px auto;
    border: 0.5px solid lightgrey;
    border-radius: 10px;
    
}
.split{
    display:flex;
    height: 100%;
  }
  .sideBar{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5
  }
  .gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 3px;
  }
  .gutter.gutter-horizontal{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  }
  .gutter.gutter-horizontal:hover{
    cursor: col-resize;
  }
  .editor{
      height: 100%;
      width: 100%;
      background-color: #f5f5f5;
      overflow: hidden;
  }
  .editor form{
    height: 100% ;
    display: flex;
    flex-direction: column;
    position: relative;
}


  .editor--title{
        border: none;
        box-sizing: border-box;
        font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        padding: 8px;
  }
  .editor .title--input{
      width: 15rem;
  }
  .editor .quill{
    height: calc(100% - 44px);
    border: none;
      display: flex;
      flex-direction: column;
  }
  .editor .quill .ql-container{
      border:none
  }
  form .postButton{
      width: 5rem;
      height: 2rem;
      margin: 0 auto;
      border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
      border: none;
      background-color: #DC3545D9;
      color: white;
      position: absolute;
      right: 10px;
      top: 5px;
  }
  form button:active{
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
  }
  
  /*editor*/
  
  .businessAdNote .sideBar--header{
      background-color: #DC3545D9;
      height: 15%;
      border-radius: 10px 0 0 0 ;
      display: flex;
      justify-content: center;
     align-items: center;
  box-shadow: 0 4px 6px -6px #222;
  color: white;
  font-weight: bold;
  font-size: 23px;
  padding:20px;
  
  }
.businessAdNote .sideBar--header>p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: auto; 
    
}
 .businessAdNote .sideBar--category{
     display: flex;
     flex-direction: column;
     padding-top: 10px;
     font-weight: bold;
    
 }
 .businessAdNote .sideBar--category .category--title{
    border-bottom: 1px solid lightgray;
    box-shadow: 0px 2px 2px rgba(236, 236, 236, 0.489);
    
 }
 .sideBar--category div{
    height: 40px;
    margin:0;
    display: flex;
    align-items: center;
    margin: 0 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
 }
 .businessAdNote .sideBar--category p {
    height: 40px;
    margin:0;
    display: flex;
    align-items: center;
    padding-left: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    margin:5px 10px 0 10px;
 }
 .businessAdNote .sideBar--category p :hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
 }

 .businessAdNote .sideBar--category .category--list.selected{
     font-weight: bold;
     background-color: #de5361c7;;
     border-radius: 10px;
     color:rgb(249, 249, 249);
     box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
 }

/* post */
 .businessAdNote .posts{
     width: 100%;
     border:0;
     overflow: scroll;
     position: relative;
     background-color: #f5f5f5
     /* display: flex;
     flex-direction: column; */
     
 }
 .businessAdNote .posts button{
    
    cursor: pointer;
      border: none;
      
    
 }
 .businessAdNote .posts button:active{
    box-shadow: inset 5px 5px 10px -3px rgba(165, 60, 60, 0.967);
 }
.businessAdNote .post--lists{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin: 5% 0 0 0;
    flex-wrap: wrap;
    justify-content: center;
}
.businessAdNote .post--lists .postsContainer{
    border: 1px solid lightgrey;
    max-height: 60rem;
    min-height: 20rem;
    overflow: scroll;
    align-self: center; 
    border-radius: 15px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
    
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 0 0 80%;
    

}

.businessAdNote .post--lists .postsContainer div{
    
    width: 100%;
    border: none;
    overflow: hidden;
}
.businessAdNote .post--lists .postsContainer .postContent{
    max-height: 60rem;
    min-height: 20rem;
    width: 100%;
    padding:15px 20px;
    cursor: pointer;
}
.businessAdNote .post--lists .postContent>img {
    width: 100%;
}
.businessAdNote .post--lists .commentArea{
    width:30%;
    background-color: #DC3545D9;
    flex: 0 2 auto;
   display: flex;
    flex-direction: column;
}
.businessAdNote .post--lists .commentArea .commentBox{
    display: flex;
    justify-content: center;
    
    
}
.businessAdNote .post--lists .commentInput{
    border: none;
    margin-right: 10px;
    font-size: 12px;
    width: 70%;
    height: 3rem;
}

.businessAdNote .post--lists .commentArea ul{
    list-style: none;
    display:flex;
    flex-direction: column;
    margin:5px 2rem;
    padding: 0;
    
}
.businessAdNote .post--lists .commentArea li{
    display:flex;
    flex-direction: column;
    border-bottom: 0.1px solid rgb(250, 124, 124);
    
}
.businessAdNote .post--lists .commentArea .id{
    font-size: 8.5pt;
    color: rgb(242, 190, 190);
    display: flex;
}
.commentArea .id p{
    margin:0
}
.commentArea .id .comment--date{
 font-size: 8px;
 margin-left: auto;
 align-self: center;
}
.businessAdNote .post--lists .commentArea .commentBody{
    font-size: 10pt;
    color:rgb(74, 67, 65);
    display: flex;
    flex-direction: row;
    width: 100%;
}

.commentArea .commentBody .commentText{
    min-width: 80%;
    margin: 3px;
}
.commentArea .commentBody .commentEdit{
    margin-left: auto;
    min-width: 30px;
    visibility: hidden;
    /* overflow: hidden; */
}
.commentBody:hover .commentEdit{
    
    cursor: pointer;
    visibility: visible;
}
.businessAdNote .post--lists button{
    color:white;
    background-color: transparent;
}
.businessAdNote .post--lists .buttons{
  
    padding:20px 30px;
    display: flex;
    
}
.businessAdNote .post--lists .editButton{
    flex: 0 0 15px;
    margin-left:auto;
}
.businessAdNote .post--lists .deleteButton{
    flex: 0 0 15px;
    margin-left: 20px
}
.businessAdNote .post--lists .commentButton{
    flex: 0 0 15px;
}
.businessAdNote div>h1{
    border-bottom: 0.5px solid lightgray;
}

.businessAdNote .post--lists div::-webkit-scrollbar{
    display: none;
}

.posts .newPost{
    height: 2rem;
    position:absolute;
    right: 10px;
    top: 10px;
    width: 6rem;
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    background-color: #DC3545D9;
      color: white
}
/*postModal*/
.postModal{
    background-color: rgb(249, 249, 249);
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 90%;
    height: 85%;
    position: fixed;
    top: 0;
    left:0;
    margin:5rem 5rem;
    z-index: 900;
    
    
}
.postModal .post--modal{
    padding:4rem;
    overflow:scroll;
    height: 100%;
    
}


.postModal .btn-close{
    position: absolute;
   top:10px;
   right:10px;
   width: 30px;
}
/* mapbox */
.Mapbox{
    width: 60vw;
    height: 500px;
    /* max-height: 50รท0px; */
    margin: auto;
    display: flex;
    flex-direction: row;
}
.Mapbox .mapboxgl-marker .isNew{
    font-size: 11px;
    font-weight:800;
}

.Mapbox .mapboxgl-marker .isNew.new{
    color: #00ffff;
}
.Mapbox .mapboxgl-marker .isNew.false{
    color: #ff8400;
}
.Mapbox .mapboxgl-canvas-container i{
    font-size: 18px;
    
}
.Mapbox .mapboxgl-canvas-container .auto{
    color: #3a65c3
}
.Mapbox .mapboxgl-canvas-container .coffeeshop{
    color: #533535
}
.Mapbox .mapboxgl-canvas-container .recreation{
    color: #142F43
}
.Mapbox .mapboxgl-canvas-container .fastfood{
    color: #a2416b
}
.Mapbox .mapboxgl-canvas-container .restaurant{
    color: #cf6e00
}
.Mapbox .mapboxgl-canvas-container .beauty{
    color: #718e20
}
.Mapbox .mapboxgl-canvas-container .clothing{
    color: #179da7
}
.Mapbox .mapboxgl-canvas-container .groceries{
    color: #4B3869
}
.Mapbox .mapboxgl-canvas-container .pets{
    color: #910000
}
/* .Mapbox .mapboxgl-popup{
    width: 150px;
    height: 100px;
} */
.Mapbox .mapboxgl-popup .place--img{
    width: 100%;
    height: 130px;
}
