
*{
    margin: 0;
    padding: 0;
    
}
body #root .App .main{
    height: 100vh;
}

.main{
    width: 100%;
}
.categories{
    margin: 5rem 5rem;
    display: flex;
    flex-direction: column;
    height: 160px;
}
.categories .categoryContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
    margin: 2rem auto;
}
.categories button{
    width: 6rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}
.categories .categoryContainer i{
    width: 100%;
    height: 100%;
    font-size: 3rem;
}
.categories .categoryContainer span{
    display: block;
    width: 6rem;
}

/*footer*/
.footer{
    position: relative;
    width: 100%;
    height: 240px;
    bottom: 0;
   
}

.footer--container{
    position: absolute;
    bottom:0;
    display: flex;
}
/* footer backgroud */
.custom-shape-divider-bottom-1650331665 {
    
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1650331665 svg {
    
    display: block;
    width: calc(300% + 1.3px);
    height: 240px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1650331665 .shape-fill {
    fill: #DC3545D9;
}
/*ad note*/

.businessAdNote{
    width: 90%;
    height: 90vh;
    min-height: 500px;
    margin: 10px auto;
    border: 0.5px solid lightgrey;
    border-radius: 10px;
    
}
.split{
    display:flex;
    height: 100%;
  }
  .sideBar{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5
  }
  .gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 3px;
  }
  .gutter.gutter-horizontal{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  }
  .gutter.gutter-horizontal:hover{
    cursor: col-resize;
  }
  .editor{
      height: 100%;
      width: 100%;
      background-color: #f5f5f5;
      overflow: hidden;
  }
  .editor form{
    height: 100% ;
    display: flex;
    flex-direction: column;
    position: relative;
}


  .editor--title{
        border: none;
        box-sizing: border-box;
        font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        padding: 8px;
  }
  .editor .title--input{
      width: 15rem;
  }
  .editor .quill{
    height: calc(100% - 44px);
    border: none;
      display: flex;
      flex-direction: column;
  }
  .editor .quill .ql-container{
      border:none
  }
  form .postButton{
      width: 5rem;
      height: 2rem;
      margin: 0 auto;
      border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
      border: none;
      background-color: #DC3545D9;
      color: white;
      position: absolute;
      right: 10px;
      top: 5px;
  }
  form button:active{
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
  }
  
  /*editor*/
  
  .businessAdNote .sideBar--header{
      background-color: #DC3545D9;
      height: 15%;
      border-radius: 10px 0 0 0 ;
      display: flex;
      justify-content: center;
     align-items: center;
  box-shadow: 0 4px 6px -6px #222;
  color: white;
  font-weight: bold;
  font-size: large;
  padding:5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

 
  }

 .businessAdNote .sideBar--category{
     display: flex;
     flex-direction: column;
     padding-top: 10px;
    
 }
 .businessAdNote .sideBar--category .category--title{
    border-bottom: 1px solid lightgray;
    box-shadow: 0px 2px 2px rgba(236, 236, 236, 0.489);
    
 }
 .sideBar--category div{
    height: 40px;
    margin:0;
    display: flex;
    align-items: center;
    margin: 0 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
 }
 .businessAdNote .sideBar--category p {
    height: 40px;
    margin:0;
    display: flex;
    align-items: center;
    padding-left: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    margin:5px 10px 0 10px;
 }
 .businessAdNote .sideBar--category p :hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
 }

 .businessAdNote .sideBar--category .category--list.selected{
     font-weight: bold;
     background-color: rgba(234, 122, 122, 0.965);
     border-radius: 10px;
     color:rgb(249, 249, 249);
     box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
 }

/* post */
 .businessAdNote .posts{
     width: 100%;
     border:0;
     overflow: scroll;
     position: relative;
     background-color: #f5f5f5
     /* display: flex;
     flex-direction: column; */
     
 }
 .businessAdNote .posts button{
    
    cursor: pointer;
      border: none;
      
    
 }
 .businessAdNote .posts button:active{
    box-shadow: inset 5px 5px 10px -3px rgba(165, 60, 60, 0.967);
 }
.businessAdNote .post--lists{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin: 5% 0 0 0;
    flex-wrap: wrap;
    justify-content: center;
}
.businessAdNote .post--lists .postsContainer{
    border: 1px solid lightgrey;
    max-height: 60rem;
    min-height: 20rem;
    overflow: scroll;
    align-self: center; 
    border-radius: 15px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 0 0 80%;
    

}

.businessAdNote .post--lists .postsContainer div{
    
    width: 100%;
    padding:15px 20px;
    border: none;
    overflow: hidden;
}
.businessAdNote .post--lists .postsContainer .postContent{
    max-height: 60rem;
    min-height: 20rem;
}
.businessAdNote .post--lists .commentArea{
    width:30%;
    background-color: #DC3545D9;
    flex: 0 2 auto;
   
    
    /* position: relative; */
}
.businessAdNote .post--lists .commentArea .commentBox{
    /* position: absolute; */
    right: 0px;
    top:0px;
    margin-top: 3rem;
    padding-left: 2rem;
    
}
.businessAdNote .post--lists input{
    border: none;
}

.businessAdNote .post--lists .commentArea ul{
    list-style: none;
    display:flex;
    flex-direction: column;
    
}
.businessAdNote .post--lists .commentArea li{
    display:flex;
    flex-direction: column;
    
}
.businessAdNote .post--lists .commentArea .id{
    font-size: 10pt;
}
.businessAdNote .post--lists button{
    color:white;
    background-color: transparent;
}
.businessAdNote .post--lists .buttons{
    position: absolute;
}
.businessAdNote .post--lists .editButton{
    margin: 8px 0px;
    float: right
}
.businessAdNote .post--lists .deleteButton{
    float: right;
    margin: 8px 20px;
}
.businessAdNote .post--lists .commentButton{
    margin: 8px 0 0 70%;
    float: left;
}
.businessAdNote div>h1{
    border-bottom: 0.5px solid lightgray;
}

.businessAdNote .post--lists div::-webkit-scrollbar{
    display: none;
}

.posts .newPost{
    width: 5rem;
    height: 2rem;
    position:absolute;
    right: 10px;
    top: 10px;
    width: 6rem;
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    background-color: #DC3545D9;
      color: white
}
/*postModal*/
.postModal{
    background-color: rgb(249, 249, 249);
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 90%;
    height: 85%;
    position: fixed;
    top: 0;
    left:0;
    margin:5rem 5rem;
    
}
.postModal .post--modal{
    padding:4rem;
    overflow:scroll;
    height: 100%;
    
}