
*{
    margin: 0;
    padding: 0;
    
}
body #root .App .main{
    height: 100vh;
}

.main{
    width: 100%;
}
.categories{
    margin: 5rem 5rem;
    display: flex;
    flex-direction: column;
    height: 160px;
}
.categories .categoryContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
    margin: 2rem auto;
}
.categories button{
    width: 6rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}
.categories .categoryContainer i{
    width: 100%;
    height: 100%;
    font-size: 3rem;
}
.categories .categoryContainer span{
    display: block;
    width: 6rem;
}

/*footer*/
.footer{
    position: relative;
    width: 100%;
    height: 240px;
    bottom: 0;
   
}

.footer--container{
    position: absolute;
    bottom:0;
    display: flex;
}
/* footer backgroud */
.custom-shape-divider-bottom-1650331665 {
    
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1650331665 svg {
    
    display: block;
    width: calc(300% + 1.3px);
    height: 240px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1650331665 .shape-fill {
    fill: #DC3545D9;
}
/*ad note*/

.businessAdNote{
    width: 90%;
    height: 90vh;
    min-height: 500px;
    margin: 10px auto;
    border: 0.5px solid lightgrey;
    border-radius: 10px;
}
.split{
    display:flex;
    height: 100%;
  }
  .sideBar{
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 3px;
  }
  .gutter.gutter-horizontal{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  }
  .gutter.gutter-horizontal:hover{
    cursor: col-resize;
  }
  .editor{
      height: 100%;
      width: 100%;
  }
  .editor form{
    height: 100% ;
    display: flex;
    flex-direction: column;
}

  .editor--title{
        border: none;
        box-sizing: border-box;
        font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        padding: 8px;
  }
  .editor .title--input{
      width: 15rem;
  }
  .editor .quill{
    height: calc(100% - 44px);
    border: none;
      display: flex;
      flex-direction: column;
  }
  .editor .quill .ql-container{
      border:none
  }
  form button{
      
      width: 5rem;
      height: 2rem;
      margin: 0 auto;
      
  }
  
  /*editor*/
  .businessAdNote .sideBar--header{
      background-color: #DC3545D9;
      height: 15%;
      border-radius: 10px 0 0 0 ;
      display: flex;
      justify-content: center;
     align-items: center;
  }

 .businessAdNote .sideBar--category{
     display: flex;
     flex-direction: column;
     padding-top: 10px;
 }

 .businessAdNote .sideBar--category p{
    height: 40px;
    margin:0;
    display: flex;
    align-items: center;
    padding-left: 10px;
 }

 .businessAdNote .sideBar--category .category--list.selected{
     font-weight: bold;
 }

 .businessAdNote .posts{
     width: 100%;
     border:0;
     overflow: scroll;
     display: flex;
     flex-direction: column;
     
 }
.businessAdNote .post--lists{
    width: 100%;
    height: 100%;
}

.posts button{
    width: 5rem;
      height: 2rem;
      margin: 0 auto;
}